@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background: url(signup.jpg);
    margin-top: 150px !important;
    background-size: cover;
}
.register-left{
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    background:linear-gradient(rgb(4, 23, 73, 0.6),rgba(242, 247, 197, 0.664)); ;
}
.register-left img{
    margin-top: 10px;
    margin-bottom: 18px;
    width: 80px;
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{transform: translateY(0);}
    100%{transform: translateY(-20px);}
}
.register-left p{
    padding: 20px 20px 0;
}
.register-left .btn-primary{
    border-radius: 1.5rem;
    border: none;
    width:120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;    
}
.register-left .btn-primary:hover{
    background: #000;
}
.register-right{
    border: none;
    background: linear-gradient(rgb(4, 23, 73, 0.6),rgba(242, 247, 197, 0.664));
    border-top-right-radius: 10% 40%;
    border-bottom-right-radius: 10% 40%;
    padding: 50px;
}

.register-right h2{
    text-align: center;
    margin-bottom: 10px;
    color:#fff;

}
.register-form{
    padding: 30px;
}
.register-right .btn-primary{


    float: right;
    border-radius: 1.5rem;
    border: none;
    width:120px;
    background: #0d021f;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px;    
}
.register-right .btn-primary:hover{
    background: rgb(35, 10, 104);
}
@media (max-width:767px){
    .register-right{
    background: linear-gradient(rgb(4, 23, 73, 0.6),rgba(242, 247, 197, 0.664));
    border-radius: 2px;
    padding: 50px;
  }
  .register-left{
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 80%;
    background:linear-gradient(rgb(4, 23, 73, 0.6),rgba(242, 247, 197, 0.664)); ;
}
.row{
    margin-top: -56px;
}
}
@media (min-width:768px)&(max-width: 1000px){
.row{
margin-top: 121px;
    margin-right: -123px;
}
    
}